SUPABASE_URL=https://elfumzzbfrpqyaztxyee.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
WHEELTRADE_API_KEY=8087d717-5220-47a1-92ac-9d002fb8de25
ABS_WHEELS_API_KEY=6c7b4316b78cc435191a80bc94b608a5
STATUSFALGAR_CUSTOMER_ID=5432
STATUSFALGAR_TOKEN=BSzMrDxAzojUYyGVvXZL3G3Bci0d0PsxRXWq
FELGEO_TOKEN=your_felgeo_token_here
